table.questionBox {
	-webkit-border-radius: 7px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	margin: 18px auto;
	min-height: 10em;
	width: 720px;
}
table.questionBox:hover {
	background-color: #fff;
	cursor: pointer;
}
td.bounty {
	color: #f79939;
	float: left;
	font-size: 68px;
	height: 68px;
	padding: 12px;
	text-align: center;
	width: 124px;
}
span.c1, span.currencySymbol { font-family: "Tahoma"; }
span.c1 { font-size: 68px; }
span.currencySymbol {
	font-size: 50%;
	vertical-align: top;
}
td.body { padding: 12px; }
span.notes {
	color: gray;
	font-size: 75%;
}
