* {
	border: 0px solid red;
	font-family: Trebuchet, sans-serif;
	line-height: 1.25em;
	margin: 0;
	padding: 0;
}
body { background-color: #f1f0ec; }
div#header {
	background-color: #4970af;
	height: 120px;
	text-align: center;
	width: 100%;
}
div.message { background-color: yellow;}
div.message.success { color: #000;}
div.message.warning { color: #400;}
div.message.error { color: #800;}
div#shadowSeparator {
	height: 16px;
	width: 100%;
}
table.questionBox {
	-webkit-border-radius: 7px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	margin: 18px auto;
	min-height: 10em;
	width: 720px;
}
table.questionBox:hover {
	background-color: #fff;
	cursor: pointer;
}
td.bounty {
	color: #f79939;
	float: left;
	font-size: 68px;
	height: 68px;
	padding: 12px;
	text-align: center;
	width: 124px;
}
span.c1, span.currencySymbol { font-family: "Tahoma"; }
span.c1 { font-size: 68px; }
span.currencySymbol {
	font-size: 50%;
	vertical-align: top;
}
td.body { padding: 12px; }
span.notes {
	color: gray;
	font-size: 75%;
}
input, textarea { font-family: 'Monaco', 'Lucida Console', sans-serif; }
input[type=submit] {
	border: default;
	font-family: 'Tahoma', sans-serif;
}
div#footer {
	margin: 1em auto;
	text-align: center;
	width: 800px;
}