{% extends "base.html" %}
{% block title %}Ask - code4cheap{% endblock %}
{% block content %}
	<style>
		div.askBlock {
			-webkit-border-radius: 7px;
			-moz-box-shadow: 0 0 5px #888;
			-webkit-box-shadow: 0 0 5px #888;
			box-shadow: 0 0 5px #888;
			background-color: #fff;
			border: 1px solid #ccc;
			margin: 12px auto;
			padding: 1em;
		}
		div.centered {
			margin: 12px auto;
			text-align: center;
		}
		ul, li { display: inline; }
		div.login input { margin: 1em; }
		ul.errorlist {
			background-color: #dfd;
			color: #040;
		}
		button[type=submit] {
			background-color: transparent;
			border: none;
			cursor: pointer;
		}
		button[type=submit]:hover { opacity: 0.9; }
	</style>
	<div style="margin: 0 auto; width: 700px;">
		<form method="post">
	   		{{ questionForm.non_field_errors }}
			<div class="centered">
				<div>{{ questionForm.text.errors }}</div>
				<p>{{ questionForm.text.label_tag }}</p>
				{% include 'formatHelp.html' %}
		        {{ questionForm.text }}
			</div>
			<div class="centered">
		        {{ questionForm.bounty.errors }}
		        {{ questionForm.bounty.label_tag }}
		        {{ questionForm.bounty }}
			</div>
			{% if questionForm.newUser %}
				<div class="askBlock login" style="margin: 12px auto; width: 400px;">
					<div style="text-align: center;">
				        {{ questionForm.newUser.errors }}
						{{ questionForm.newUser.label_tag }}
						<br>
				        {{ questionForm.newUser }}
					</div>
					<table style="margin: 0 auto;">
						<tr><td colspan="2">
						        {{ questionForm.email.errors }}
						</td></tr>
						<tr>
							<td style="text-align: right;">{{ questionForm.email.label_tag }}</td>
							<td>{{ questionForm.email }}</td>
						</tr>
						<tr><td colspan="2">
						        <span class="email2">{{ questionForm.email2.errors }}</span>
						        <span class="password">{{ questionForm.password.errors }}</span>
						</td></tr>
						<tr>
							<td style="text-align: right;">
								<span class="email2">{{ questionForm.email2.label_tag }}</span>
						        <span class="password">{{ questionForm.password.label_tag }}</span>
							</td>
							<td>
						        <span class="email2">{{ questionForm.email2 }}</span>
						        <span class="password">{{ questionForm.password }}</span>
							</td>
						</tr>
					</table>
				</div>
			{% endif %}
			<div class="centered">
				By clicking on the button below you are agreeing to code4cheap's <a href="/tos">terms of service</a>.<br>
				{% csrf_token %}
				<br>
				<button type="submit" alt="Checkout with Amazon">
					<img src="{{ MEDIA_URL }}images/amazonPayNow.gif">
				</button>
			</div>
		</form>
	</div>
	<script>
		function showHide() {
			if ($('input[name=newUser]').attr('checked')) {
				$('.email2').hide();
				$('.password').show();
			} else {
				$('.email2').show();
				$('.password').hide();
			}
		}
		showHide();
		$('#id_newUser_0,#id_newUser_1').live('click', showHide);
	</script>
{% endblock %}
