<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.png" />
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}base.css" />
		<style>div#shadowSeparator { background-image:url({{ MEDIA_URL }}shadow.png); }</style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
	</head>
	<body>
		<!--
		<div style="float: right;">
			{% if user.email %}
				{{user.email}} | <a href="/logout">logout</a>
			{% else %}
				<form action="/login" method="POST">
					{% csrf_token %}
					<label for="email">email:</label> <input type="text" name="email">
					<label for="password">password:</label> <input type="password" name="password">
					<input type="submit" value="login">
				</form>
			{% endif %}
		</div>
		<div style="clear: both;"></div>
		<div>
			{% if messages %}
				<ul class="messages">
				    {% for message in messages %}
					    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				    {% endfor %}
				</ul>
			{% endif %}
		</div>
		<div style="clear: both;"></div>
		-->
		<div id="header">
			<a href="/"><img src="{{ MEDIA_URL }}logo-120px-from-Inkscape.png"></a>
		</div>
		<div id="shadowSeparator"></div>
		<div id="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
