<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="shortcut icon" href="{{ MEDIA_URL }}images/favicon.png" />
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css">
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssfonts/fonts-min.css">
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/global.css" />
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/base.css" />
		<style>div#shadowSeparator { background-image:url({{ MEDIA_URL }}images/shadow.png); }</style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
	</head>
	<body>
		<div id="header">
			<table style="width: 100%;"><tr>
			<td width="33.3%"></td>
			<td align="center" width="33.3%"><a href="/" style="width: 500px;"><img src="{{ MEDIA_URL }}images/logo-120px-from-Inkscape.png"></a></td>
			<td align="right" width="33.3%" valign="top">
				<style>
					div.auth {
						-webkit-border-radius: 7px;
						background-color: #3b5a8d;
						color: #e2ecfd;
						cursor: pointer;
						padding: 0.5em 1em;
						position: absolute;
						right: 1em;
						top: 1em;
					}
					div.auth a { color: #e2ecfd; }
					div#username { cursor: pointer; }
					div#username:hover {
						background-color: #2b4a7d;
						color: #fff;
					}
					div#signinMenu form p { text-align: left; }
				</style>
				{% if user.email %}
					<div id="username" class="auth">
						{{user.username}} &#9662;
					</div>
					<div id="usernameMenu" class="auth" style="display: none;">
						<p>{{user.username}} &#9652;</p>
						<br>
						<p><a href="/profile">edit your profile</a></p>
						<br>
						<form action="/logout" method="get">
							<input type="submit" value="sign out">
						</form>
					</div>
				{% else %}
					<div id="signin" class="auth">
						sign in &#9662;
					</div>
					<div id="signinMenu" class="auth" style="display: none;">
						<p>sign in &#9652;</p>
						<form action="/login" method="POST">
							{% csrf_token %}
							<p><label for="email">email:</label></p>
							<p><input type="text" name="email"></p>
							<br>
							<p><label for="password">password:</label></p>
							<p><input type="password" name="password"></p>
							<br>
							<input type="submit" value="login">
						</form>
					</div>
				{% endif %}
				<script>
					$('div#username, div#usernameMenu').click(function() {
						$('div#username, div#usernameMenu').toggle();
					})
					$('div#signin, div#signinMenu').click(function() {
						$('div#signin, div#signinMenu').toggle();
					})
				</script>
			</td>
			</tr></table>
		</div>
		{% if messages %}
		    {% for message in messages %}
			    <div class="message {{ message.tags }}">{{ message }}</div>
		    {% endfor %}
		{% endif %}
		<script>
			$('div.message').click(function() {
				$(this).slideUp();
			})
		</script>
		<div id="shadowSeparator"></div>
		<div id="content">
			{% block content %}{% endblock %}
		</div>
		<div id="footer">
			<a href="/faq">FAQ</a> &nbsp; 
			<a href="/tos">Terms of Service</a> &nbsp; 
			<a href="http://code4cheap.tumblr.com/">Blog</a> &nbsp; 
			<a href="http://twitter.com/code4cheap">Twitter</a> &nbsp; 
			<a href="http://www.facebook.com/pages/Code4cheap/201874853171539">Facebook</a> &nbsp; 
			<a href="mailto:code4cheap@gmail.com">Contact</a>
		</div>
	</body>
</html>
