{% extends "base.html" %}
{% block title %}FAQ - code4cheap{% endblock %}
{% block content %}
	<style>
		h1 {
			font-size: 197%;
			line-height: 1.5;
			margin-top: 1em;
		}
	</style>
	<div style="margin: 0 10px;">
		<h1>How does this work?</h1>
		<p>answer</p>
		
		<h1>I posted a question/answer, but I don’t see it. Where did it go?</h1>
		<p>Sometimes it takes a couple of minutes for it to appear after posting. If it’s been longer than that, make sure you’ve activated your account.</p>

		<h1>How do you get quality answers?</h1>
		<p>answer</p>

		<h1>What compels Qs to pay?</h1>
		<p>answer</p>

		<h1>Is there a reputation system?</h1>
		<p>answer</p>

		<h1>Can the bounty be split?</h1>
		<p>answer</p>

		<h1>Why the commission?</h1>
		<p>answer</p>

		<h1>Why is this better than x?</h1>
		<p>answer</p>

		<h1>Can I post homework?</h1>
		<p>answer</p>

		<h1>How will you stop cheating by answering own question?</h1>
		<p>answer</p>

		<h1>Timeline on posting answers, getting paid?</h1>
		<p>answer</p>

		<h1>Customer service contact information?</h1>
		<p>answer</p>
	</div>
{% endblock %}
