{% load markup %}
<title>QA: {{question.text|truncatewords:5}}</title>
<a href="/">Home</a><br>
<br>
${{question.price}}<br>
<br>
{{question.user.email}}:<br>
<br>
{{question.text|markdown}}<br>
<br>
Answers:
{% for answer in answers %}
	<hr>
	<button>Mark this answer as correct</button><br>
	{{answer.user.email}}:<br>
	{{answer.text|markdown}}<br>
{% endfor %}
<hr>
<form action="/payment">
	<textarea rows="12" cols="80">Type your answer here</textarea><br>
	<label for="email">email:</label><input type="text" name="email"><br>
	<label for="email">confirm email:</label><input type="text" name="email2"><br>
	<br>
	By clicking on 'I agree' below you are agreeing to the <a href="/tos">Terms of Service</a>.<br>
	<input type="submit" value="I agree. Post my answer."/>
</form>
