{% extends "base.html" %}
{% load markup %}
{% block title %}Questions{% endblock %}
{% block content %}
	<style>
		a.ask {
			background-image: url({{ MEDIA_URL }}/askButton.png);
			display: block;
			height: 84px;
			margin: 12px auto;
			width: 417px;
		}
		a.ask:hover {
			background-position: center bottom;
		}
	</style>
	<a href="/ask" class="ask"></a>
	{% for question in questions %}
		<table class="questionBox">
			<tr>
				<td class="bounty">
					{% if question.is_answered %}&#x2713;{% endif %}<span class="currencySymbol">$</span><span class="c1">{{ question.price }}</span>
				</td>
				<td class="body">
					<h2>{{ question.text|truncatewords:5 }}</h2>
					{{ question.text|markdown}}<br>
					<a href="/question/{{ question.id }}">more &gt;</a><br>
					<span class="notes">
						By {{ question.user.email }} &nbsp;
						{{ question.answer__count }} answer{{ question.answer__count|pluralize }} &nbsp;
						Asked {{ question.created|timesince }} ago
					</span>
				</td>
			</tr>
		</table>
	{% endfor %}
{% endblock %}
