{% extends "base.html" %}
{% load markup %}
{% block title %}code4cheap{% endblock %}
{% block content %}
	<style>
		a.ask {
			background-image: url({{ MEDIA_URL }}/askButton.png);
			display: block;
			height: 84px;
			margin: 12px auto;
			width: 417px;
		}
		a.ask:hover {
			background-position: center bottom;
		}
		div.questionText {
			height: 6.75em;
			overflow: hidden;
		}
		td.body p:first-child:first-line {
			font-size: 200%;
			line-height: 150%;
		}
	</style>
	<a href="/ask" class="ask"></a>
	{% for question in questions %}
	<a href="/question/{{ question.id }}">
		<table class="questionBox">
			<tr>
				<td class="bounty">
					<span class="currencySymbol">$</span><span class="c1">{{ question.price }}</span>
				</td>
				<td class="body">
					<div class="questionText">
						{{ question.text|markdown }}
					</div>
					<span class="notes">
						By {{ question.user.email }} &nbsp;
						{{ question.answer__count }} answer{{ question.answer__count|pluralize }} &nbsp;
						Asked {{ question.created|timesince }} ago
					</span>
				</td>
			</tr>
		</table>
	</a>
	{% endfor %}
{% endblock %}
