{% extends "base.html" %}
{% load markup %}
{% block title %}{{question.text|markdown|removetags:"a blockquote br code em p strong"|truncatewords:5}} - code4cheap{% endblock %}
{% block content %}
	<style>
		div.column {
			font-size: 108%;
			line-height: 1.25em;
			margin: 0px auto;
			width: 900px;
		}
		div.shadowBox, #id_text {
			-webkit-border-radius: 7px;
			-moz-box-shadow: 0 0 5px #888;
			-webkit-box-shadow: 0 0 5px #888;
			box-shadow: 0 0 5px #888;
			background-color: #f8f8f8;
			border: 1px solid #ccc;
			padding: 10px;
		}
		div.question {
			margin: 30px auto;
		}
		div.question div.info {
			float: left;
			width: 150px;
		}
		div.question span.bounty {
			color: #f79939;
			font-family: Tahoma;
			font-size: 524%;
			line-height: 1em;
		}
		div.question span.bounty span.currencySymbol {
			font-family: "Tahoma";
			font-size: 50%;
			vertical-align: text-top;
		}
		div.question div.body {
			float: right;
			width: 700px;
		}
		div.question pre, div.answer pre {
			background-color: #ddd;
			margin: 1em 0;
			overflow: auto;
			padding: 1em;
		}
		div.question pre { width: 670px;}
		div.answer pre { width: 850px;}
		div.question code, div.answer code {
			font-family: 'Consolas', 'Monaco', 'Lucida Console', 'Courier New', monospace;
			line-height: 1.25em;
		}
		div#answererTeaser {
			color: #525252;
			font-size: 197%;
			line-height: 1em;
			margin: 0 auto;
			text-align: center;
		}
		a.ask {
			background-image: url({{ MEDIA_URL }}images/answerButton.png);
			display: block;
			height: 80px;
			margin: 12px auto 0 auto;
			width: 316px;
		}
		a.ask:hover {
			background-position: center bottom;
		}
		div.answer {
			margin: 30px auto;
		}
		div.answer div.username {
			color: gray;
			float: left;
			font-size: 197%;
			line-height: 1.25em;
		}
		.winner {
			background-color: transparent;
			background-image: url({{ MEDIA_URL }}images/winningButton.png);
			border: 0 solid transparent;
			height: 80px;
			width: 339px;
		}
		button.winner {
			cursor: pointer;
		}
		button.winner:hover {
			background-position: center bottom;
		}
		div.answer div.body {
			font-size: 123.1%;
			padding: 12px;
		}
		div.answer div.notes {
			color: gray;
			font-size: 93%;
		}
		#id_text {
			margin: 10px 0px;
			width: 900px;
		}
		ul.errorlist {
			background-color: #dfd;
			color: #040;
		}
		form#answer p {
			margin: 1em 0;
		}
	</style>
	<div class="column">
		<div class="question">
			<div class="info">
				<p><span class="bounty"><span class="currencySymbol">$</span>{{ question.price|floatformat:"-2" }}</span></p>
				{% if question.is_answered %}<p>&#x2713;</p>{% endif %}
				<p>{{ question.user.username }}</p>
				<p>{{ question.created|timesince }} ago</p>
			</div>
			{% if edit %}
				{% include 'formatHelp.html' %}
				<div style="text-align: right;">
					<form method="POST">
						{% csrf_token %}
						<textarea name="text">{{question.text}}</textarea>
						<p>&nbsp;</p>
						<p><input type="submit" value="Save my changes"></p>
					</form>
				</div>
			{% else %}
				<div class="body shadowBox">
					{{question.text|markdown}}
					{% if is_q and not question.is_answered %}
						<p><a href="/question/{{question.id}}/edit">edit your question</a></p>
					{% endif %}
					<div id="disqus_separator" style="background-color: gray; height: 1px; margin: 1em 0;"></div>
					<div id="disqus_thread"></div>
				</div>
			{% endif %}
			<div style="clear: both;"></div>
		</div>
		{% if not is_q and not question.is_answered and not showForm %}
			<div id="answererTeaser">
				<p>Get <span style="color: #f79939; font-weight: bold;">${{ question.price }}</span> for posting the best answer!*</p>
				<p><a href="#" class="ask"></a></p>
				<p style="font-size: 50%;">*minus <a href="/faq#howMuchDoIGet">service fee</a></p>
			</div>
			<script>
				$('div#answererTeaser a.ask').click(function(event) {
					$('div#answererTeaser').slideUp();
					$('form#answer').slideToggle();
					return false;
				})
			</script>
		{% endif %}
		{% if not is_q and not question.is_answered %}
			<form id="answer" method="POST"{% if not showForm %} style="display: none;"{% endif %}>
		   		<p>{{ answerForm.non_field_errors }}</p>
				<p>{{ answerForm.text.errors }}</p>
				<p>{{ answerForm.text.label_tag }}
					
				{% include 'formatHelp.html' %}</p>
				<p>{{ answerForm.text }}</p>

				<p>{{ answerForm.email.errors }}</p>
				<p>{{ answerForm.email.label_tag }} {{ answerForm.email }}</p>

				<p>{{ answerForm.newUser.errors }}</p>
				<p>{{ answerForm.newUser.label_tag }}</p>
				<p>{{ answerForm.newUser }}</p>

				<p>{{ answerForm.email2.errors }}</p>
				<p>{{ answerForm.password.errors }}</p>
				<p>{{ answerForm.email2.label_tag }} {{ answerForm.email2 }}</p>
				<p>{{ answerForm.password.label_tag }} {{ answerForm.password }}</p>
				By clicking on 'I agree' below you are agreeing to the <a href="/tos">Terms of Service</a>.<br>
				<input type="submit" value="I agree. Post my answer" />
				{% csrf_token %}
			</form>
			<script>
				function showHide() {
					if ($('input[name=newUser]').attr('checked')) {
						$('#id_email2').parent().hide();
						$('#id_password').parent().show();
					} else {
						$('#id_email2').parent().show();
						$('#id_password').parent().hide();
					}
				}
				showHide();
				$('#id_newUser_0,#id_newUser_1').live('click', showHide);
			</script>
		{% endif %}
		{% for answer in answers %}
			{% if answer.published or answer.user == user or user.is_superuser %}
				<div class="answer shadowBox">
					<div class="username">
						<p>{{answer.user.username}} answered:</p>
						<p>{{answer.created|timesince}} ago</p>
					</div>
					{% if is_q and not answer.is_winner and not question.is_answered %}
						<div style="float: right;">
							<form method="POST">
								{% csrf_token %}
								<input type="hidden" name="answer" value="{{answer.id}}">
								<button class="winner"></button>
							</form>
						</div>
					{% endif %}
					{% if answer.is_winner %}
						<div class="winner" style="background-position: center bottom; float: right;"></div>
					{% endif %}
					<div style="clear: both;"></div>
					{{answer.text|markdown}}<br>
					{% if answer.user == user and not question.is_answered %}
						{% if not answer.published %}
							<i>This answer is not yet public, please activate your account to make it public.</i>
						{% endif %}
						<a href="/answer/{{answer.id}}/edit">edit your answer</a><br>
					{% endif %}
					{% if not answer.published and user.is_superuser %}
						<i>This answer is unpublished</i>
					{% endif %}
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<script type="text/javascript">
		var disqus_shortname = 'code4cheap';
		var disqus_identifier = '{{question.id}}';
		var disqus_url = 'http://www.code4cheap.com/question/{{question.id}}';
	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endblock %}
